<html lang="jp">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>

		<form action="/signup">
      <h2>ログイン</h2>
      <label for="email">メールアドレス</label>
      <input type="text" name="email" required />
      <div class="email error"></div>
      <label for="password">パスワード</label>
      <input type="password" name="password" required />
      <div class="password error"></div>
      <button>ログイン</button>
    </form>

    <%- include('../partials/footer.ejs') %>

    <script>
      const form = document.querySelector('form');
      form.addEventListener('submit', (e) => {
        e.preventDefault();

        const email = form.email.value;
        const password = form.password.value;
        console.log(email, password);
      });
    </script>
</body>
</html>