<html lang="jp">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="not-found content">
        <p>お探しのページは見つかりませんでした。</p>
        <a href="/">ホームへ移動する</a>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>