<html lang="jp">
<%- include('./partials/head.ejs') %>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
        <h2>オープンデータに関する研究</h2>
        <p>World Wide Webの開発者はTim Berners Leeである。</p>
        <p>オープンデータが世界的に注目されるようになる前に、その前身となる"オープンガバメント"という用語が先に注目を集め，特に米国でのオープンガバメントの進歩は目覚ましいものである。</p>
        <p>産官学民とは、産を企業、官を自治体、学を学術機関、民を市民とし、それぞれを指した言葉である。</p>
        <p>アップロードするデータはLinkDataが提供するエクセル形式のひな形データを書き換えることで作成する。ひな形データをエクセル上で編集した後に、クリエイティブ・コモンズ・ライセンスを指定してアップロードするとオープンデータとして公開される。
            公開されたデータはテキスト形式やエクセルデータとしてダウンロード可能で、アップロード後、一定時間後に各種APIに変換される。</p>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>